.profile {
  padding: 0;
}

.profileUser {
  max-width: 100%;
}

.changePassword {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: #4a4a4a;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: block;
}

.resetPassword {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #01567f;
  border-color: #4a4a4a;
  border-radius: 5px;
  width: 120px;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease;

  // &:hover {
  //   background: transparent;
  //   border-color: #4a4a4a;
  //   color: #4a4a4a;
  // }
}
