.admin-layout .card-search input {
    background-color: var(--color-input);
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 5px;
    width: 200px;
    font-size: 14px;
    transition: all 0.15s ease;
}
.admin-layout .card-search input:focus {
    background-color: var(--color-input-focus);
}


.card-search {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
  
.search-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
  
.search-group input.search {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}
  
.search-group input.search::placeholder {
    color: #999;
}